#navigation { display: none;}

video { display: none;}

#container
{
 
}
#content
{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

p {
   margin-left: 20px;
    font-weight: bold;
    font-size: 1.1em;
    font-family: "arial-black", Helvetica, sans-serif;
}

a {
   text-decoration: none;
   color: black;
}